:root {
    --theme-bg-light: #ededed;
    --theme-section-light: #f9f9f9;
    --theme-text-light: #828282;
    --theme-bg-dark: #121416;
    --theme-section-dark: #1f2022;
    --theme-text-dark: #ccc;
    --theme-bg-warning: #ffc107;
    --theme-bg-warning-dark: #7e6b04;
    --theme-bg-success: #2cce82;
    --theme-bg-success-dark: #196354;
    --theme-bg-danger: #fa8a93;
    --theme-bg-danger-dark: #dc3545;
}

.theme-bg {
    background-color: var(--theme-bg-light) !important;
}

.theme-bg-dark {
    background-color: var(--theme-bg-dark) !important;
}

.theme-section {
    background-color: var(--theme-section-light) !important;
}

.theme-section-dark {
    background-color: var(--theme-section-dark) !important;
}

.theme-text {
    color: var(--theme-text-light) !important;
}

.theme-text-dark {
    color: var(--theme-text-dark) !important;
}

.theme-border {
    border-color: var(--theme-section-light) !important;
}

.theme-border-dark {
    border-color: var(--theme-section-dark) !important;
}

.theme-warning {
    background-color: var(--theme-bg-warning);
}

.theme-warning-dark {
    background-color: var(--theme-bg-warning-dark);
}

.theme-success {
    background-color: var(--theme-bg-success);
}

.theme-success-dark {
    background-color: var(--theme-bg-success-dark);
}

.theme-danger {
    background-color: var(--theme-bg-danger);
}

.theme-danger-dark {
    background-color: var(--theme-bg-danger-dark);
}

.shadow-low {
    box-shadow: 3px 3px 3px #6c6d6e;
}

.switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffd954;
    box-shadow: 3px 1px 5px inset;
    transition: 0.5s;
}

.switch-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--theme-bg-light);
    transition: 0.5s;
    box-shadow: 0px 1px 3px inset;
}

#style_switch {
    position: absolute;
    opacity: 0;
}

#style_switch:checked + .switch .switch-btn {
    margin-left: 20px;
}

#style_switch:checked + .switch {
    background-color: #2424e7;
}

.theme-plus {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: linear-gradient(var(--theme-text-light) 0 0),
        linear-gradient(var(--theme-text-light) 0 0), var(--theme-section-light);
    background-position: center;
    background-size: 50% 5px, 5px 50%;
    background-repeat: no-repeat;
}

.theme-plus-dark {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: linear-gradient(var(--theme-text-light) 0 0),
        linear-gradient(var(--theme-text-light) 0 0), var(--theme-section-dark);
    background-position: center;
    background-size: 50% 5px, 5px 50%;
    background-repeat: no-repeat;
}

.w-90-3 {
    width: calc(90% / 3);
}

.w-90-2 {
    width: calc(90% / 2);
}

.none-list {
    list-style-type: none;
    padding-left: 0px;
}

.wh-25 {
    width: 25px;
    height: 25px;
}

.wh-50 {
    width: 50px;
    height: 50px;
}

.h-300rem {
    height: 3rem;
}

.w-95 {
    width: 95%;
}

.display-none {
    display: none;
}

.vh-90 {
    height: 90vh;
}
